:root{
  --primary-text-color: #171717;
}

.navbar-brand {
  display: flex;

  .logo {
    display: 'inline-block';
    background-color: #24C38C;
  }
}

.sidebar-container {
  display: flex;
  flex-direction: column;
}