@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-text-color: #171717;
    --secondary-text-color: white;
    --primary-bg-color: #24c38c;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.table-dark {
  background-color: #24c38c !important;
}

tbody tr:hover {
  background-color: #D9FEBA;
}

/* Button Xác nhận */
.btn-custom {
  background-color: #24C38C !important;
  color: #FFFFFF !important;
  border: none !important;
  font-weight: bold !important;
}

.btn-custom:hover {
  background-color: #1EA373 !important;/* Màu nền khi hover */
  color: #FFFFFF !important;         /* Giữ nguyên màu chữ */
  font-weight: bold !important;
}

/* Tabs mặc định */
.nav-tabs .nav-link {
  background-color: #24C38C; /* Màu nền */
  color: #FFFFFF;            /* Màu chữ */
  border: none;              /* Xóa viền mặc định */
  font-weight: bold; 
}

.nav-tabs .nav-link:hover {
  background-color: #1EA373; /* Màu nền khi hover */
  color: #FFFFFF;            /* Màu chữ khi hover */
  font-weight: bold; 
}

/* Tab đang được chọn */
.nav-tabs .nav-link.active {
  background-color: #FFFFFF; /* Nền trắng */
  color: #000000;            /* Màu chữ đen */
  text-decoration: underline; /* Gạch chân */
  border: none;              /* Xóa viền */
  font-weight: bold; 
}